@import url('https://fonts.googleapis.com/css?family=Cabin|Open Sans&display=swap');

body {
    font-family: 'Cabin',
    cursive;
    background-color: silver;
}

header {
    font-family: 'Cabin';
    height: 75px;
    text-align: center;
}

.col-xs-12 {
    background-color: red;
    border: 10px solid white;
}
.col-xs-2, .col-xs-3, .col-xs-6 {
    background-color: black;
    color:white;
    border: 10px solid black;
}

.black-border, h1 {
    border: 2px solid black;    
}
